 <div class="card mb-4">
  <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title"><%= t ".post_title" %></h2>
      <p class="card-text"><%= t ".content" %></p>
      <%= link_to t(".read_more"), "#", class: "btn btn-primary"%>
    </div>
    <div class="card-footer text-muted">
      <%= t ".time_posted" %>
      <%= link_to t(".author"), "#" %>
    </div>
  </div>
</div>
