<div class="col-md-4">
  <div class="card my-4">
    <h5 class="card-header"><%= t ".search" %></h5>
    <div class="card-body">
      <%= form_tag root_path do%>
        <div class="input-group">
          <%= text_field_tag :search, "", class: "form-control" %>
          <span class="input-group-btn">
            <%= submit_tag t(".find"), class: "btn btn-secondary" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card my-4">
    <h5 class="card-header"><%= t ".categories" %></h5>
    <div class="card-body">
    </div>
  </div>
  <div class="card my-4">
    <h5 class="card-header"><%= t ".side_widget" %></h5>
    <div class="card-body"></div>
  </div>
</div>
