<div class="row">
  <div class="col-lg-8">
    <h1 class="mt-4"><%= @post.title %></h1>
    <p class="lead">
      <%= t ".by" %>
      <%= link_to @post.user_name, user_path(@post.user) %>
    </p>
    <hr>
    <p><%= @post.created_at.strftime Settings.time_format  %></p>
    <hr>
    <%= image_tag Settings.picture.post, class: "img-fluid rounded" %>
    <hr>
    <p class="lead"><%= @post.content %></p>
    <p><%= @post.content %></p>
    <hr>
    <% if logged_in? %>
      <%= render "posts/form" %>
    <% end %>
    <div class="comments" id= "comments_<%= @post.id %>">
      <% if @post.comments.present? %>
        <%= render @post.comments %>
      <% end %>
    </div>
  </div>
  <%= render "shared/sidebar" %>
</div>
